<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Testimonial</h6>
        <h2 class="display-4 text-center mb-5">Our Clients Say</h2>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r1.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Parag Doshi</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                               height: auto; /* Maintains aspect ratio */
                                                                               display: block; /* Centers the image */
                                                                               margin: 0 auto;"> Review from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">
                        “Excellent job. They came on the same day even though I booked their service at the last
                        minute notice. They did fantastic job, all of my guest liked the clean and nice ambience.
                        The party went so nice. Thanks MvM team for your service!!!

                        Highly Recommended!!!!

                        :):):)”
                    </p>
                </div>
            </div>

            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r3.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Bobby James</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo"
                             style="width: 150px; /* Adjust as needed */
                                                                                                       height: auto; /* Maintains aspect ratio */
                                                                                                       display: block; /* Centers the image */
                                                                                                       margin: 0 auto;">
                        Review from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">“The team's professionalism and courtesy impressed me from the initial phone call
                        to the final walk-through. They took great care in protecting my furniture and belongings,
                        and their expertise in cleaning my carpet and sofa was evident. Thanks!”</p>
                </div>
            </div>

            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r6.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Chhaya Singh</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                                           height: auto; /* Maintains aspect ratio */
                                                                                           display: block; /* Centers the image */
                                                                                           margin: 0 auto;"> Review
                        from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">
                        “I was impressed by the professionalism and attention to detail shown by the team during my
                        recent carpet and sofa cleaning service. They did an outstanding job and I highly recommend
                        them.
                        ”
                    </p>
                </div>
            </div>


            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r2.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Sara Jenkins</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                               height: auto; /* Maintains aspect ratio */
                                                                               display: block; /* Centers the image */
                                                                               margin: 0 auto;"> Review from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">
                        “Fantastic job cleaning our sofas and cream carpet - came up like new! Wouldn’t hesitate to
                        use them again!
                        Thank you so much!”
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r7.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Maria Luiza</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                               height: auto; /* Maintains aspect ratio */
                                                                               display: block; /* Centers the image */
                                                                               margin: 0 auto;"> Review from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">“Recommend!!! They came in the same day and did a great job . And very affordable
                        prices.”</p>
                </div>
            </div>
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r5.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Hakan Unsal</h5>
                    <p class="text-muted font-italic">
                        <img src="~/img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                                           height: auto; /* Maintains aspect ratio */
                                                                                           display: block; /* Centers the image */
                                                                                           margin: 0 auto;"> Review
                        from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">"They’re professional and punctual. They did the job as requested."</p>
                </div>
            </div>

            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r9.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Genevieve Cooper</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo" style="width: 150px; /* Adjust as needed */
                                                                                           height: auto; /* Maintains aspect ratio */
                                                                                           display: block; /* Centers the image */
                                                                                           margin: 0 auto;"> Review
                        from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">“Had a really good experience with this company. Did a brilliant job on my sofa
                        and 3 bedroom house! My carpets look new again! Thank you so much!"</p>
                </div>
            </div>

            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="img/r8.png"
                     style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;"
                     alt="Client Image">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Steve Jones</h5>
                    <p class="text-muted font-italic">
                        <img src="img/google.png" alt="Google Logo"
                             style="width: 150px; /* Adjust as needed */
                                                                                                       height: auto; /* Maintains aspect ratio */
                                                                                                       display: block; /* Centers the image */
                                                                                                       margin: 0 auto;">
                        Review from Google
                    </p>
                    <div class="stars mb-3">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                    </div>
                    <p class="m-0">“Didn’t think the carpets in the house I’ve bought could be rescued. Looked like
                        the previous owner had a serious pagan sacrifice habit. These guys brought them back from
                        the dead."</p>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Testimonial End -->