@{
    ViewData["Title"] = "Gallery";
}
<!-- Page Header Start -->
<div class="page-header container-fluid bg-secondary pt-1 pt-lg-2 pb-1 mb-2">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white">Gallery — Carpet, Sofa & Upholstery Cleaning Before &amp; After |
                    MvM Cleaning</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="/Home">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->


<!-- Gallery Section Start -->
<div class="container my-5">
    <h2 class="text-center mb-4">Our Gallery</h2>

    <!-- Carpet Cleaning Section -->
    <!-- Carpet Cleaning Section -->
    <div class="mb-5">
        <h3 class="text-center"></h3>
        <div class="row">
            <!-- Images from 1 to 16 -->
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/resim1.jpg" alt="Upholstery Cleaning Example" class="img-fluid"
                         loading="lazy" decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img2.webp" alt="Carpet Cleaning Work 2" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/collage3.webp" alt="Carpet Cleaning Work 3" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img4.webp" alt="Carpet Cleaning Work 4" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>


                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img5.webp" alt="Carpet Cleaning Work 5" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img9.webp" alt="Carpet Cleaning Work 6" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img7.png.webp" alt="Carpet Cleaning Work 7" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img1.webp" alt="Carpet Cleaning Work 8" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/image16.webp" alt="Carpet Cleaning Work 9" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img14.webp" alt="Carpet Cleaning Work 10" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img10.webp" alt="Carpet Cleaning Work 11" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img12.webp" alt="Carpet Cleaning Work 12" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Carpet Cleaning</h4>

                </div>
            </div>

        </div>
    </div>
    <!-- Upholstery Cleaning Section -->
    <div class="mb-5">
        <h3 class="text-center">Upholstery Cleaning</h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img115.webp" alt="Upholstery Cleaning Work 1" class="img-fluid"
                         loading="lazy" decoding="async">
                    <h4 class="text-center mt-2">Upholstery Cleaning</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img116.webp" alt="Upholstery Cleaning Work 2" class="img-fluid"
                         loading="lazy" decoding="async">
                    <h4 class="text-center mt-2">Upholstery Cleaning</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img121.webp" alt="Upholstery Cleaning Work 3" class="img-fluid"
                         loading="lazy" decoding="async">
                    <h4 class="text-center mt-2">Upholstery Cleaning</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Pressure Washing Section -->
    <div class="mb-5">
        <h3 class="text-center">Pressure Washing</h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img219.webp" alt="Pressure Washing Work 1" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img227.webp" alt="Pressure Washing Work 2" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img222.webp" alt="Pressure Washing Work 3" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img211.webp" alt="Pressure Washing Work 1" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img212.webp" alt="Pressure Washing Work 2" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="/img/gallery/img213.webp" alt="Pressure Washing Work 3" class="img-fluid" loading="lazy"
                         decoding="async">
                    <h4 class="text-center mt-2">Pressure Washing</h4>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Gallery Section End -->


