@{
    var code = (ViewData["StatusCode"] as int?) ?? 401;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .error-icon {
        font-size: 4rem;
        margin-bottom: 20px;
    }
</style>

<div class="container py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="error-icon text-danger">
                <i class="fas fa-lock"></i>
            </div>
            <h1 class="display-4 text-danger">Unauthorized</h1>
            <p class="lead">You do not have permission to access this resource.</p>
            <p>If you believe this is an error, please contact support or log in with the appropriate account.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/">Return Home</a>
        </div>
    </div>
</div>